*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100vh;
 background-color: rgb(211, 206, 206);
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.container {
 display: flex;
 flex-direction: column;
 width: 550px;
 height: 350px;
 background-color: #FFF;
 justify-content: center;
 align-items: center;
 border-radius: 50px;
 box-shadow: 3px 3px 15px rgb(141, 194, 194);
 position: relative;
}

.container .header {
 font-size: 30px;
 letter-spacing: 2px;
 margin: 30px auto;
 text-align: center;
 color: rgb(63, 119, 119);
 cursor: default;
}

.container .input-window {
 display: block;
 width: 65%;
 border: 1px solid rgb(63, 119, 119);
 outline: none;
 padding: 15px;
 border-radius: 15px;
 margin-bottom: 30px;
 font-size: 14px;
 font-family: sans-serif;
}

.container .submit-button {
 display: block;
 background-color: rgb(63, 119, 119);
 width: 65%;
 border-radius: 15px;
 padding: 10px;
 border: none;
 font-size: 18px;
 color: #FFF;
 cursor: pointer;
 font-family:sans-serif;
 letter-spacing: 1px;
}

.submit-button:hover{
 background-color:rgb(49, 88, 88);
}

.score {
 position: absolute;
 top: 30px;
 right: 50px;
 color: rgb(63, 119, 119);
 font-weight: bolder;
 font-size: 18px;
 cursor: default;
}